<div class="admin">
	<div class="logo"></div>
	<img src="/assets/botoes/home.png"
		class="home"
    (click)="sair()">

	<div class="perguntas-container">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="pergunta">
        <th mat-header-cell *matHeaderCellDef>Perguntas</th>
        <td mat-cell *matCellDef="let pergunta">{{ pergunta.questao}}</td>
      </ng-container>

      <ng-container matColumnDef="opcoes">
        <th mat-header-cell *matHeaderCellDef>Questão</th>
        <td mat-cell *matCellDef="let pergunta">{{ pergunta.opcoes}}</td>
      </ng-container>

      <ng-container matColumnDef="correta">
        <th mat-header-cell *matHeaderCellDef>Correta</th>
        <td mat-cell *matCellDef="let pergunta">{{ pergunta.opcoes[pergunta.correta] }}</td>
      </ng-container>

      <ng-container matColumnDef="acao">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let pergunta">
            <a href=""
	      	   (click)="atualizar($event, pergunta)"
             matTooltip="Editar"><mat-icon>create</mat-icon>
            </a>
            <a href=""
              (click)="remover($event, pergunta.id)"
               matTooltip="Excluir"><mat-icon>delete</mat-icon>
            </a>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="colunas"></tr>
      <tr mat-row *matRowDef="let row; columns: colunas;"></tr>


    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

	</div>
	<div>
		<button
		  mat-button
		  color="primary"
		  (click)="cadastrar()">
		  Nova pergunta
		</button>
		<button
		  mat-button
		  color="warn"
		  (click)="confirmarRestauracaoDados()">
		  Restaurar perguntas
		</button>
		<button
		  mat-button
		  color="warn"
		  (click)="inicializarJogos()">
		  Inicializar jogos
		</button>
	</div>
</div>
